.HomeBox {
    background-color: crimson;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homeLogo {
    z-index: 1;
    color: #F0E7FD;
    height: 25rem;
    font-size: 15rem;
    filter: drop-shadow(0 0 1.25rem #2E282F);
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .homeLogo {
      animation: homeLogo-spin infinite 20s linear;
    }
  }

@keyframes homeLogo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.startedButton {
    z-index: 1;
    background-color: #2E282F;
    color: #fff;
    width: 10rem;
    height: 3rem;
    border: solid #4A4153;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black, 0 0 25px #4A4153, 0 0 5px #4A4153;
}

.startedButton a {
    color: #F0E7FD;
    text-shadow: 1px 1px 2px #F0E7FD;
}

.startedButton:hover {  
    transform: translateY(0.25rem);
    filter: drop-shadow(0 0 0.5rem #2E282F);
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    font-size: 20rem;
    color: transparent;
    -webkit-text-stroke: 5px #2E282F;
    font-weight: bold;
    opacity: 0.1;
    pointer-events: none;
}

.nickname {
    height: 17.5rem;
}

@media screen and (max-width: 1500px) {
    .name {
        font-size: 17.5rem;
    }
}

@media screen and (max-width: 1200px) {
    .name {
        font-size: 15rem;
    }
}

@media screen and (max-width: 1100px) {
    .name {
        font-size: 12.5rem;
    }
}

@media screen and (max-width: 900px) {
    .name {
        font-size: 10rem;
    }

    .nickname {
        height: 15rem;
    }
}

@media screen and (max-width: 700px) {
    .name {
        font-size: 8.5rem;
    }

    .nickname {
        height: 12.5rem;
    }
}

@media screen and (max-width: 600px) {
    .name {
        font-size: 7.5rem;
    }
}

@media screen and (max-width: 550px) {
    .name {
        font-size: 6rem;
    }
}

@media screen and (max-width: 500px) {
    .homeLogo {
        font-size: 10rem;
    }

    .startedButton {
        width: 8rem;
        height: 2.5rem;
    }
}

@media screen and (max-width: 450px) {
    .name {
        font-size: 5rem;
    }

    .nickname {
        height: 7.5rem;
    }
}

