.NavbarBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4A4153;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: 1px 1px 2px black, 0 0 25px #4A4153, 0 0 5px #4A4153;
}

.NavbarList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-shadow: 0px 0px 1px #F0E7FD;
}

.NavbarList div{
    margin: 2rem;
    font-family: lato;
    font-size: larger;
}

.NavbarList a:hover{
    color: rgb(231, 27, 71);
    text-shadow: 1px 1px 3px rgb(231, 27, 71);
}

.NavbarBox a{
    text-decoration: none;
    color: #F0E7FD;
    transition: color 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
}

.MyTitleName div {
    margin: 0.5rem;
    font-family: lato;
    font-size: larger;
}

.MyTitleName a {
    font-size: larger;
    text-shadow: 1px 1px 2px rgb(231, 27, 71);
}

.StyleName {
    color: rgb(231, 27, 71);
}

.MyNameAlign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MyNameLogo div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    padding: 0.3rem;
    border-radius: 10px;
    color: #F0E7FD;
    border: 0.15rem solid #F0E7FD;
    background: rgb(231, 27, 71);
    box-shadow: 0px 1px 2px #F0E7FD;
}

.NavbarListAlign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavbarListLogo {
    display: none;
    color: #F0E7FD;
}

@media screen and (max-width: 1000px) {
    .MyTitleName div {
        margin: 0.5rem;
        font-family: lato;
        font-size: medium;    
    }
}

@media screen and (max-width: 800px) {
    .NavbarListLogo {
        display: block;
    }

    .NavbarList a {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .MyNameAdress{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .NavbarBox {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4A4153;
        margin: 0;
        border-radius: 0;
        box-shadow: 1px 1px 2px black, 0 0 25px #4A4153, 0 0 5px #4A4153;
}

    .MyNameLogo {
        display: none;
    }
}