.ContactBox {
    margin-top: 5rem;
}

.contactZone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contactStyle {
    color: rgb(231, 27, 71);
    text-shadow: 1px 1px 3px rgb(231, 27, 71);
    font-size: 4rem;
}

.questionStyle {
    color: #F0E7FD;
    text-shadow: 1px 1px 2px #F0E7FD;
}

.formContact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}

.formContact div{
    margin: 1rem;
}

.inputSize {
    display: flex;
    width: 25rem;
    height: 2rem;
    padding-left: 0.5rem;
    background-color: #4A4153;
    color: #F0E7FD;
    border: 1px solid #F0E7FD;
    font-size: medium;
    box-shadow: 1px 1px 2px black, 0 0 15px #4A4153, 0 0 5px #4A4153;
}

.inputSize:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textareaSize {
    width: 25rem;
    height: 10rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    background-color: #4A4153;
    color: #F0E7FD;
    border: 1px solid #F0E7FD;
    font-family: 'lato';
    font-size: medium;
    box-shadow: 1px 1px 2px black, 0 0 15px #4A4153, 0 0 5px #4A4153;
}

.submitInputSize {
    width: 26rem;
    height: 2rem;
    text-transform: uppercase;
    background-color: #4A4153;
    color: #F0E7FD;
    border: 1px solid #F0E7FD;
    transition: color 0.3s;
    box-shadow: 1px 1px 2px black, 0 0 15px #4A4153, 0 0 5px #4A4153;
}

.submitInputSize:hover {
    color: rgb(231, 27, 71);
    text-shadow: 1px 1px 2px rgb(231, 27, 71);
}

::placeholder {
    font-family: 'lato';
    font-size: small;
    color: #F0E7FD;
}

@media screen and (max-width: 500px) {
    .inputSize, .submitInputSize{
        width: 19rem;
        height: 2rem;
        padding-left: 0.5rem;
    }

    .textareaSize {
        width: 19rem;
    }

    .submitInputSize {
        width: 20rem;
    }
}